.page {
  color: #444;
}

.page-background {
  background-color: #fff;
}

.page_0 .page-background {
}

.page_0 .page-content {
  color: #fff;
}

.page_0 h1 {
  text-align: left;
}

.particleground {
  background-color: #1E50A2;
  height: 100%;
  width: 100%;
}

.page_0 .particleground {
  width: 80%;
  float: left;
}

.vborder {
  width: 12px;
  height: 100%;
  left: 80%;
  border-right: solid 12px #2766A6;
  border-left: solid 36px #2766A6;
  margin-left: 12px;
  float: left;
}

.border {
  width: 100%;
  height: 12px;
  border-bottom: solid 12px #2766A6;
  border-top: solid 36px #2766A6;
}

.dog {
  position: absolute;
  background-image: url(../images/dog.png);
  width: 250px;
  height: 117px;
  zoom: 80%;
  bottom: 20px;
  right: 20px;
}

.logo {
  position: absolute;
  background-image: url(../images/logo.png);
  width: 526px;
  height: 130px;
  zoom: 60%;
  bottom: 80px;
  right: calc(80px + 20%);
}

.page_15 .logo {
  bottom: 0;
  right:0;
  top: 0;
  left: 0;
  margin: auto;
  zoom: 120%;
}

.copyright {
  position: absolute;
  font-size: 0.6em;
  color: #888;
  bottom: 40px;
  left: 80px;
}

.particleground .copyright {
  color: #fff;
}

.page p.book {
  text-align: center;
  margin: 0;
  
}

.page p.formula {
  width: auto;
  height: 6rem;
}

.page p.formula2 {
  width: auto;
  height: 3rem;
}

.page p.analog img {
  position: fixed;
  width: 368px;
  bottom: 10px;
  right: 240px;
}

.small {
  text-align: center;
  font-size: 0.6em;
}

a:link {
  color: #008;
}

a:visited {
  color: #008;
}

a:hover {
  color: #00a;
}

a:active {
  color: #008;
}
